body {
    margin: 0px;
    padding: 0px;
}

#actionmenu {
    display: block;
    position: absolute;
    height: 497px; /* due to borders */
    width: 497px;
    overflow: hidden;

    border-radius: 50%;
    background: radial-gradient(#22434a, #22434a 25%, #57abbf 25.1%, #24798d 28%, #06181c);
    border: 3px solid #48b2c7;
}

.segment {
    display: none;
    position: absolute;
    top: 250px;
    left:  68px;
    border-bottom: 250px solid #87d1ff;
    border-left: 182px solid transparent;
    border-right: 182px solid transparent;
    height: 0px;
    width: 0px;
    transform-origin: top center;
    opacity: 0.75;
}
/* TODO: formula?
left: 221px;
border-left: 30px solid transparent;

left: 100px;
border-left: 150px solid transparent;

left: -324px;
border-left: 566px solid transparent;
*/

@keyframes example {
    from {
        left: 100px;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        transform: rotate(0deg);
    }

    to {
        left: 221px;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        transform: rotate(360deg);
    }
}

.inside {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    background-color: #22434a;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.joystick {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: radial-gradient(#22434a,
        #22434a  17%, #4c9db0 20%, #22434a 23%,
        #22434a 42%, #4c9db0 45%, #22434a 47%,
        #22434a 57%, #4c9db0 60%, #22434a 63%);

}

.separators, .items { /* cohtml needs this to show anything */
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.separator {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50%;
    width: 0px;
    border: 2px solid #0e8ba9;
    border-radius: 100%;
    transform-origin: center top;
}

.item {
    display: block;
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.label {
    font-family: verdana,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.icon {
    width: 75px;
    max-height: 75px;
}

.debug {
    border: 1px solid black;
}
